<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	<title>autobot ออโต้บอท</title>
</head>
<body>
	<div class="container">
		<h2 class="page-title"><img src="http://www.criteo.com/images/criteo-logo.svg" width="100" height="auto" class="logo" alt=""> autobot</h2>
		<div class="row input-output-box">
			<div class="col-md-5">
				<form class="form-inline template-select-box">
					<div class="form-group">
						<label for="exampleInputName2">Input</label>
						<select name="" id="template" class="form-control">
							<option value="agoda" selected>Agoda</option>
							<option value="appsflyer">AppsFlyer</option>
							<option value="adjust">Adjust</option>
							<option value="branch">Branch</option>
							<option value="apsalar">Apsalar</option>
							<option value="lazada">Lazada</option>
						</select>
					</div>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-template-modal"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
					<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> New Template</button>
				</form>
				<textarea name="" id="input" cols="200" rows="10" class="form-control">{
   "af_app": "com.agoda.app",
   "af_content_type": "Hotel",
   "af_date_a": "02-07-2016",
   "af_customer_user_id": "1D95523F-5B1B-47D4-89C7-32EB0F9D673E",
   "af_language_id": "22",
   "af_room_no": "1",
   "af_occupancy_adults": "2",
   "af_date_b": "03-07-2016",
   "af_logged_in": "0",
   "af_occupancy_children": "0",
   "af_content_id": "256861",
   "af_currency": "USD",
   "af_page": "trackTransaction",
   "product_currency": "SGD",
   "ids" : [169245, 286234, 329864, 423578, 523586],
   "quantities": [1, 1, 1, 2, 2], 
   "price": [52.5, 56.66, 234, 1234],
   "order_id": 12345,
   "dd": true
}</textarea>
			</div>
			<div class="col-md-2">
				<p class="text-center"><i class="glyphicon glyphicon-arrow-right convert-arrow"></i></p>
			</div>
			<div class="col-md-5">
				<h3 class="output-heading">Output: Criteo Format</h3>
				<textarea name="" id="output" cols="200" rows="10" class="form-control"></textarea>
			</div>
		</div>
		<!-- /.row -->
		<p class="text-right bottom-button">
			<span class="status" id="passed"><i class="glyphicon glyphicon-ok"></i></span>
			<span class="status" id="failed"><i class="glyphicon glyphicon-remove"></i></span>
			<button type="button" class="btn btn-lg btn-primary fire"><i class="glyphicon glyphicon-send"></i> Fire</button>
		</p>
	</div>






	<div class="modal fade" tabindex="-1" role="dialog" id="edit-template-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Edit: Template 2</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<section class="schema-tree tree">
							</section>
						</div>
						<!-- /.col-md-6 -->
						<div class="col-md-6">
							<section class="mapping-tree tree">
								<div class="field-box" style="margin-left: 0px">
									<label>Account</label>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>App</label>
									<div class="drop-box" id="account_app" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>Currency</label>
									<div class="drop-box" id="account_currency" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>Language</label>
									<div class="drop-box" id="account_language" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0px">
									<label>Site Type</label>
									<div class="drop-box" id="site_type" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0px">
									<label>GA ID</label>
									<div class="drop-box" id="gaid" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0px">
									<label>Event Type</label>
									<div class="drop-box" id="event_type" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0px">
									<label>Transaction ID</label>
									<div class="drop-box" id="transaction_id" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0px">
									<label>Currency</label>
									<div class="drop-box" id="currency" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 0">
									<label>Products</label>
									<div class="drop-box" id="products" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>Product ID</label>
									<div class="drop-box" id="product_id" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>Quantity</label>
									<div class="drop-box" id="quantity" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div class="field-box" style="margin-left: 30px">
									<label>Price</label>
									<div class="drop-box" id="price" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
								</div><!-- field-box -->

								<div id="box2"></div>
								<div class="field-box add-button" style="margin-left: 0px">
									<button type="button" class="btn btn-xs btn-default" data-depth="0" data-target="#box2"><i class="glyphicon glyphicon-plus"></i> Add</button>
								</div><!-- field-box -->

							</section>
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary save">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js?<%= new Date().getTime() %>"></script>
</body>
</html>