@import url(bootstrap-theme.css);

.convert-arrow {
	font-size: 50px;
	margin-top: 70px;
	color: rgba(255,143,28, 0.9);
}
.input-output-box {
	margin-top: 20px;
	margin-bottom: 20px;
}
.template-select-box {
	margin-top: 30px;
	margin-bottom: 20px;
}
.btn:focus, .btn:active, .btn:active:focus {
	outline: 0;
}
.logo {
	position: relative;
	top: -5px;
	margin-right: 10px;
}
.page-title{
	font-weight: 400;
	color: #666;
	margin-top: 50px;
	margin-bottom: 50px;
}
textarea.form-control {
	background-color: rgba(255,143,28, 0.1);
	border-color: rgba(219,138,57, 0.2);
}
textarea.form-control:focus {
	border-color: rgba(219,138,57, 0.2);
	box-shadow: inset 0 1px 1px rgba(219,138,57, 0.1), 0 0 8px rgba(219,138,57, 0.4);
}